## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [14]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("ligue-1-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("ligue-1-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("ligue-1-2025.csv")

In [15]:
## Ukidanje Duplih Vrijednosti za Nazive Klubova
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Stade DE Reims", 'Stade de Reims')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Stade DE Reims", 'Stade de Reims')

#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Havre AC", 'Havre Athletic Club')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Havre AC", 'Havre Athletic Club')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [16]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(54)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
49,50,6,28/09/2025 13:00,Allianz Riviera,OGC Nice,Paris FC,1 - 1
50,46,6,28/09/2025 15:15,Stade Raymond Kopa,Angers SCO,Stade Brestois 29,0 - 2
51,47,6,28/09/2025 15:15,Stade Pierre-Mauroy,LOSC Lille,Olympique Lyonnais,0 - 1
52,49,6,28/09/2025 15:15,Stade Saint-Symphorien,FC Metz,Havre Athletic Club,0 - 0
53,52,6,28/09/2025 18:45,Roazhon Park,Stade Rennais FC,RC Lens,0 - 0

In [17]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [18]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
49,50,6,28/09/2025 13:00,Allianz Riviera,OGC Nice,Paris FC,1 - 1
50,46,6,28/09/2025 15:15,Stade Raymond Kopa,Angers SCO,Stade Brestois 29,0 - 2
51,47,6,28/09/2025 15:15,Stade Pierre-Mauroy,LOSC Lille,Olympique Lyonnais,0 - 1
52,49,6,28/09/2025 15:15,Stade Saint-Symphorien,FC Metz,Havre Athletic Club,0 - 0
53,52,6,28/09/2025 18:45,Roazhon Park,Stade Rennais FC,RC Lens,0 - 0

## Predprocesovanje Niza Podataka

In [19]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(666, 3)

In [20]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [21]:
df_BL.to_csv("L1.csv")
df_BL

                         H                    A Result
0                 OGC Nice           LOSC Lille  1 - 1
1   Olympique de Marseille       Stade de Reims  2 - 1
2      Paris Saint-Germain           FC Lorient  0 - 0
3        Stade Brestois 29              RC Lens  3 - 2
4         Clermont Foot 63            AS Monaco  2 - 4
..                     ...                  ...    ...
49                OGC Nice             Paris FC  1 - 1
50              Angers SCO    Stade Brestois 29  0 - 2
51              LOSC Lille   Olympique Lyonnais  0 - 1
52                 FC Metz  Havre Athletic Club  0 - 0
53        Stade Rennais FC              RC Lens  0 - 0

[666 rows x 3 columns]

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [23]:
df_domacin.columns

Index(['H_AS Monaco', 'H_AS Saint-Étienne', 'H_Angers SCO',
       'H_Clermont Foot 63', 'H_FC Lorient', 'H_FC Metz', 'H_FC Nantes',
       'H_Havre Athletic Club', 'H_LOSC Lille', 'H_Montpellier Hérault SC',
       'H_OGC Nice', 'H_Olympique Lyonnais', 'H_Olympique de Marseille',
       'H_Paris FC', 'H_Paris Saint-Germain', 'H_RC Lens',
       'H_RC Strasbourg Alsace', 'H_Stade Brestois 29', 'H_Stade Rennais FC',
       'H_Stade de Reims', 'H_Toulouse FC'],
      dtype='object')

In [24]:
df_domacin.shape

(666, 21)

In [25]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [26]:
df_gost.shape

(666, 21)

In [27]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
664,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [28]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [29]:
rez_dom.head()

0    1
1    2
2    0
3    3
4    2
Name: Result, dtype: object

In [30]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [31]:
rez_gost.head()

0    1
1    1
2    0
3    2
4    4
Name: Result, dtype: object

In [32]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [33]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                         H                    A Result Rez1 Rez2
0                 OGC Nice           LOSC Lille  1 - 1    1    1
1   Olympique de Marseille       Stade de Reims  2 - 1    2    1
2      Paris Saint-Germain           FC Lorient  0 - 0    0    0
3        Stade Brestois 29              RC Lens  3 - 2    3    2
4         Clermont Foot 63            AS Monaco  2 - 4    2    4
..                     ...                  ...    ...  ...  ...
49                OGC Nice             Paris FC  1 - 1    1    1
50              Angers SCO    Stade Brestois 29  0 - 2    0    2
51              LOSC Lille   Olympique Lyonnais  0 - 1    0    1
52                 FC Metz  Havre Athletic Club  0 - 0    0    0
53        Stade Rennais FC              RC Lens  0 - 0    0    0

[666 rows x 5 columns]

In [34]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [35]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[610:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [36]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [37]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [38]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [39]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_5268\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [40]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_5268\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [41]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [42]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [43]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [44]:
finalna_provjera.tail()

                    H                    A Rezultat  Skor
661          OGC Nice             Paris FC    1 - 1   0.0
662        Angers SCO    Stade Brestois 29    0 - 2  -1.0
663        LOSC Lille   Olympique Lyonnais    0 - 1  -1.0
664           FC Metz  Havre Athletic Club    0 - 0   0.0
665  Stade Rennais FC              RC Lens    0 - 0   0.0

# Konačni df - Podaci su Sređeni

In [45]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [46]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [47]:
df_BL.head(5)

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [48]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [49]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [50]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 , -0.22961724],
       [-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 , -0.22961724],
       [-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 ,  4.35507367],
       ...,
       [-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 , -0.22961724],
       [-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 , -0.22961724],
       [-0.2491119 , -0.14894395, -0.17601439, ..., -0.25286985,
        -0.2336182 , -0.22961724]])

In [52]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [53]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [54]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [55]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [56]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [57]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
19/19 [==============================] - 2s 48ms/step - loss: 0.7572 - mae: 0.7572 - val_loss: 0.8410 - val_mae: 0.8410
Epoch 2/50
19/19 [==============================] - 0s 16ms/step - loss: 0.7236 - mae: 0.7236 - val_loss: 0.8315 - val_mae: 0.8315
Epoch 3/50
19/19 [==============================] - 0s 15ms/step - loss: 0.6947 - mae: 0.6947 - val_loss: 0.8193 - val_mae: 0.8193
Epoch 4/50
19/19 [==============================] - 0s 15ms/step - loss: 0.6681 - mae: 0.6681 - val_loss: 0.8071 - val_mae: 0.8071
Epoch 5/50
19/19 [==============================] - 0s 15ms/step - loss: 0.6430 - mae: 0.6430 - val_loss: 0.7942 - val_mae: 0.7942
Epoch 6/50
19/19 [==============================] - 0s 15ms/step - loss: 0.6216 - mae: 0.6216 - val_loss: 0.7933 - val_mae: 0.7933
Epoch 7/50
19/19 [==============================] - 0s 15ms/step - loss: 0.6013 - mae: 0.6013 - val_loss: 0.7877 - val_mae: 0.7877
Epoch 8/50
19/19 [==============================] - 0s 21ms/step - loss: 0.5808 - mae: 0.5808 - val_loss: 0.7835 - val_mae: 0.7835
Epoch 9/50
19/19 [==============================] - 0s 18ms/step - loss: 0.5632 - mae: 0.5632 - val_loss: 0.7747 - val_mae: 0.7747
Epoch 10/50
19/19 [==============================] - 0s 18ms/step - loss: 0.5484 - mae: 0.5484 - val_loss: 0.7662 - val_mae: 0.7662
Epoch 11/50
19/19 [==============================] - 0s 16ms/step - loss: 0.5354 - mae: 0.5354 - val_loss: 0.7666 - val_mae: 0.7666
Epoch 12/50
19/19 [==============================] - 0s 17ms/step - loss: 0.5238 - mae: 0.5238 - val_loss: 0.7643 - val_mae: 0.7643
Epoch 13/50
19/19 [==============================] - 0s 18ms/step - loss: 0.5127 - mae: 0.5127 - val_loss: 0.7603 - val_mae: 0.7603
Epoch 14/50
19/19 [==============================] - 0s 20ms/step - loss: 0.5036 - mae: 0.5036 - val_loss: 0.7670 - val_mae: 0.7670
Epoch 15/50
19/19 [==============================] - 0s 18ms/step - loss: 0.4948 - mae: 0.4948 - val_loss: 0.7629 - val_mae: 0.7629
Epoch 16/50
19/19 [==============================] - 0s 15ms/step - loss: 0.4873 - mae: 0.4873 - val_loss: 0.7651 - val_mae: 0.7651
Epoch 17/50
19/19 [==============================] - 0s 12ms/step - loss: 0.4803 - mae: 0.4803 - val_loss: 0.7713 - val_mae: 0.7713
Epoch 18/50
19/19 [==============================] - 0s 16ms/step - loss: 0.4741 - mae: 0.4741 - val_loss: 0.7797 - val_mae: 0.7797
Epoch 19/50
19/19 [==============================] - 0s 23ms/step - loss: 0.4686 - mae: 0.4686 - val_loss: 0.7795 - val_mae: 0.7795
Epoch 20/50
19/19 [==============================] - 0s 14ms/step - loss: 0.4630 - mae: 0.4630 - val_loss: 0.7819 - val_mae: 0.7819
Epoch 21/50
19/19 [==============================] - 1s 27ms/step - loss: 0.4580 - mae: 0.4580 - val_loss: 0.7816 - val_mae: 0.7816
Epoch 22/50
19/19 [==============================] - 0s 20ms/step - loss: 0.4539 - mae: 0.4539 - val_loss: 0.7820 - val_mae: 0.7820
Epoch 23/50
19/19 [==============================] - 0s 18ms/step - loss: 0.4506 - mae: 0.4506 - val_loss: 0.7834 - val_mae: 0.7834

In [58]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 5ms/step - loss: 0.7603 - mae: 0.7603

In [59]:
#spremanje modela
model.save("L1_float_model.h5")

In [60]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.