## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [8]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("ligue-1-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("ligue-1-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("ligue-1-2025.csv")

In [9]:
## Ukidanje Duplih Vrijednosti za Nazive Klubova
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Stade DE Reims", 'Stade de Reims')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Stade DE Reims", 'Stade de Reims')

#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Havre AC", 'Havre Athletic Club')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Havre AC", 'Havre Athletic Club')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [10]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(99)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
94,93,11,02/11/2025 16:15,Stade Bollaert-Delelis,RC Lens,FC Lorient,3 - 0
95,94,11,02/11/2025 16:15,Stade Pierre-Mauroy,LOSC Lille,Angers SCO,1 - 0
96,96,11,02/11/2025 16:15,Stade de la Beaujoire,FC Nantes,FC Metz,0 - 2
97,99,11,02/11/2025 16:15,Stadium de Toulouse,Toulouse FC,Havre Athletic Club,0 - 0
98,92,11,02/11/2025 19:45,Stade Francis-Le Blé,Stade Brestois 29,Olympique Lyonnais,0 - 0

In [11]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [12]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
94,93,11,02/11/2025 16:15,Stade Bollaert-Delelis,RC Lens,FC Lorient,3 - 0
95,94,11,02/11/2025 16:15,Stade Pierre-Mauroy,LOSC Lille,Angers SCO,1 - 0
96,96,11,02/11/2025 16:15,Stade de la Beaujoire,FC Nantes,FC Metz,0 - 2
97,99,11,02/11/2025 16:15,Stadium de Toulouse,Toulouse FC,Havre Athletic Club,0 - 0
98,92,11,02/11/2025 19:45,Stade Francis-Le Blé,Stade Brestois 29,Olympique Lyonnais,0 - 0

## Predprocesovanje Niza Podataka

In [13]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(711, 3)

In [14]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [15]:
df_BL.to_csv("L1.csv")
df_BL

                         H                    A Result
0                 OGC Nice           LOSC Lille  1 - 1
1   Olympique de Marseille       Stade de Reims  2 - 1
2      Paris Saint-Germain           FC Lorient  0 - 0
3        Stade Brestois 29              RC Lens  3 - 2
4         Clermont Foot 63            AS Monaco  2 - 4
..                     ...                  ...    ...
94                 RC Lens           FC Lorient  3 - 0
95              LOSC Lille           Angers SCO  1 - 0
96               FC Nantes              FC Metz  0 - 2
97             Toulouse FC  Havre Athletic Club  0 - 0
98       Stade Brestois 29   Olympique Lyonnais  0 - 0

[711 rows x 3 columns]

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [17]:
df_domacin.columns

Index(['H_AS Monaco', 'H_AS Saint-Étienne', 'H_Angers SCO',
       'H_Clermont Foot 63', 'H_FC Lorient', 'H_FC Metz', 'H_FC Nantes',
       'H_Havre Athletic Club', 'H_LOSC Lille', 'H_Montpellier Hérault SC',
       'H_OGC Nice', 'H_Olympique Lyonnais', 'H_Olympique de Marseille',
       'H_Paris FC', 'H_Paris Saint-Germain', 'H_RC Lens',
       'H_RC Strasbourg Alsace', 'H_Stade Brestois 29', 'H_Stade Rennais FC',
       'H_Stade de Reims', 'H_Toulouse FC'],
      dtype='object')

In [18]:
df_domacin.shape

(711, 21)

In [19]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [20]:
df_gost.shape

(711, 21)

In [21]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
708,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [22]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [23]:
rez_dom.head()

0    1
1    2
2    0
3    3
4    2
Name: Result, dtype: object

In [24]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [25]:
rez_gost.head()

0    1
1    1
2    0
3    2
4    4
Name: Result, dtype: object

In [26]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [27]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                         H                    A Result Rez1 Rez2
0                 OGC Nice           LOSC Lille  1 - 1    1    1
1   Olympique de Marseille       Stade de Reims  2 - 1    2    1
2      Paris Saint-Germain           FC Lorient  0 - 0    0    0
3        Stade Brestois 29              RC Lens  3 - 2    3    2
4         Clermont Foot 63            AS Monaco  2 - 4    2    4
..                     ...                  ...    ...  ...  ...
94                 RC Lens           FC Lorient  3 - 0    3    0
95              LOSC Lille           Angers SCO  1 - 0    1    0
96               FC Nantes              FC Metz  0 - 2    0    2
97             Toulouse FC  Havre Athletic Club  0 - 0    0    0
98       Stade Brestois 29   Olympique Lyonnais  0 - 0    0    0

[711 rows x 5 columns]

In [28]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [29]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[610:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [30]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [31]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [32]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [33]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_5364\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [34]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_5364\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [35]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [36]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [37]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [38]:
finalna_provjera.tail()

                     H                    A Rezultat  Skor
706            RC Lens           FC Lorient    3 - 0   1.0
707         LOSC Lille           Angers SCO    1 - 0   1.0
708          FC Nantes              FC Metz    0 - 2  -1.0
709        Toulouse FC  Havre Athletic Club    0 - 0   0.0
710  Stade Brestois 29   Olympique Lyonnais    0 - 0   0.0

# Konačni df - Podaci su Sređeni

In [39]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [40]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [41]:
df_BL.head(5)

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [42]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [43]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [44]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
494,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
408,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [45]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.25495098, -0.1496663 ,  5.87367006, ..., -0.24072187,
        -0.23706191, -0.25495098],
       [-0.25495098,  6.68153105, -0.17025131, ..., -0.24072187,
        -0.23706191, -0.25495098],
       [ 3.9223227 , -0.1496663 , -0.17025131, ..., -0.24072187,
        -0.23706191, -0.25495098],
       ...,
       [-0.25495098, -0.1496663 , -0.17025131, ..., -0.24072187,
        -0.23706191, -0.25495098],
       [-0.25495098, -0.1496663 , -0.17025131, ..., -0.24072187,
        -0.23706191, -0.25495098],
       [-0.25495098, -0.1496663 , -0.17025131, ..., -0.24072187,
        -0.23706191, -0.25495098]])

In [46]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [47]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [48]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [49]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [50]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [51]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
20/20 [==============================] - 5s 160ms/step - loss: 0.7516 - mae: 0.7516 - val_loss: 0.7269 - val_mae: 0.7269
Epoch 2/50
20/20 [==============================] - 1s 45ms/step - loss: 0.6930 - mae: 0.6930 - val_loss: 0.7096 - val_mae: 0.7096
Epoch 3/50
20/20 [==============================] - 1s 62ms/step - loss: 0.6506 - mae: 0.6506 - val_loss: 0.7013 - val_mae: 0.7013
Epoch 4/50
20/20 [==============================] - 1s 53ms/step - loss: 0.6215 - mae: 0.6215 - val_loss: 0.6929 - val_mae: 0.6929
Epoch 5/50
20/20 [==============================] - 1s 40ms/step - loss: 0.5981 - mae: 0.5981 - val_loss: 0.6840 - val_mae: 0.6840
Epoch 6/50
20/20 [==============================] - 1s 63ms/step - loss: 0.5794 - mae: 0.5794 - val_loss: 0.6807 - val_mae: 0.6807
Epoch 7/50
20/20 [==============================] - 1s 51ms/step - loss: 0.5641 - mae: 0.5641 - val_loss: 0.6753 - val_mae: 0.6753
Epoch 8/50
20/20 [==============================] - 1s 71ms/step - loss: 0.5491 - mae: 0.5491 - val_loss: 0.6732 - val_mae: 0.6732
Epoch 9/50
20/20 [==============================] - 1s 63ms/step - loss: 0.5382 - mae: 0.5382 - val_loss: 0.6665 - val_mae: 0.6665
Epoch 10/50
20/20 [==============================] - 1s 48ms/step - loss: 0.5285 - mae: 0.5285 - val_loss: 0.6618 - val_mae: 0.6618
Epoch 11/50
20/20 [==============================] - 1s 43ms/step - loss: 0.5172 - mae: 0.5172 - val_loss: 0.6585 - val_mae: 0.6585
Epoch 12/50
20/20 [==============================] - 1s 43ms/step - loss: 0.5076 - mae: 0.5076 - val_loss: 0.6521 - val_mae: 0.6521
Epoch 13/50
20/20 [==============================] - 1s 47ms/step - loss: 0.5005 - mae: 0.5005 - val_loss: 0.6429 - val_mae: 0.6429
Epoch 14/50
20/20 [==============================] - 1s 42ms/step - loss: 0.4902 - mae: 0.4902 - val_loss: 0.6400 - val_mae: 0.6400
Epoch 15/50
20/20 [==============================] - 1s 59ms/step - loss: 0.4822 - mae: 0.4822 - val_loss: 0.6378 - val_mae: 0.6378
Epoch 16/50
20/20 [==============================] - 1s 37ms/step - loss: 0.4759 - mae: 0.4759 - val_loss: 0.6347 - val_mae: 0.6347
Epoch 17/50
20/20 [==============================] - 1s 48ms/step - loss: 0.4682 - mae: 0.4682 - val_loss: 0.6308 - val_mae: 0.6308
Epoch 18/50
20/20 [==============================] - 1s 62ms/step - loss: 0.4623 - mae: 0.4623 - val_loss: 0.6183 - val_mae: 0.6183
Epoch 19/50
20/20 [==============================] - 1s 50ms/step - loss: 0.4571 - mae: 0.4571 - val_loss: 0.6180 - val_mae: 0.6180
Epoch 20/50
20/20 [==============================] - 1s 41ms/step - loss: 0.4524 - mae: 0.4524 - val_loss: 0.6165 - val_mae: 0.6165
Epoch 21/50
20/20 [==============================] - 1s 29ms/step - loss: 0.4495 - mae: 0.4495 - val_loss: 0.6120 - val_mae: 0.6120
Epoch 22/50
20/20 [==============================] - 1s 43ms/step - loss: 0.4460 - mae: 0.4460 - val_loss: 0.6099 - val_mae: 0.6099
Epoch 23/50
20/20 [==============================] - 1s 31ms/step - loss: 0.4416 - mae: 0.4416 - val_loss: 0.6088 - val_mae: 0.6088
Epoch 24/50
20/20 [==============================] - 1s 44ms/step - loss: 0.4385 - mae: 0.4385 - val_loss: 0.6073 - val_mae: 0.6073
Epoch 25/50
20/20 [==============================] - 1s 63ms/step - loss: 0.4373 - mae: 0.4373 - val_loss: 0.6053 - val_mae: 0.6053
Epoch 26/50
20/20 [==============================] - 1s 43ms/step - loss: 0.4346 - mae: 0.4346 - val_loss: 0.6049 - val_mae: 0.6049
Epoch 27/50
20/20 [==============================] - 1s 42ms/step - loss: 0.4309 - mae: 0.4309 - val_loss: 0.6086 - val_mae: 0.6086
Epoch 28/50
20/20 [==============================] - 1s 52ms/step - loss: 0.4297 - mae: 0.4297 - val_loss: 0.6066 - val_mae: 0.6066
Epoch 29/50
20/20 [==============================] - 1s 53ms/step - loss: 0.4277 - mae: 0.4277 - val_loss: 0.6087 - val_mae: 0.6087
Epoch 30/50
20/20 [==============================] - 1s 59ms/step - loss: 0.4242 - mae: 0.4242 - val_loss: 0.6053 - val_mae: 0.6053
Epoch 31/50
20/20 [==============================] - 1s 40ms/step - loss: 0.4230 - mae: 0.4230 - val_loss: 0.6059 - val_mae: 0.6059
Epoch 32/50
20/20 [==============================] - 1s 55ms/step - loss: 0.4205 - mae: 0.4205 - val_loss: 0.6055 - val_mae: 0.6055
Epoch 33/50
20/20 [==============================] - 1s 70ms/step - loss: 0.4187 - mae: 0.4187 - val_loss: 0.6029 - val_mae: 0.6029
Epoch 34/50
20/20 [==============================] - 1s 48ms/step - loss: 0.4159 - mae: 0.4159 - val_loss: 0.6038 - val_mae: 0.6038
Epoch 35/50
20/20 [==============================] - 1s 52ms/step - loss: 0.4150 - mae: 0.4150 - val_loss: 0.6060 - val_mae: 0.6060
Epoch 36/50
20/20 [==============================] - 1s 55ms/step - loss: 0.4117 - mae: 0.4117 - val_loss: 0.6064 - val_mae: 0.6064
Epoch 37/50
20/20 [==============================] - 1s 38ms/step - loss: 0.4117 - mae: 0.4117 - val_loss: 0.6083 - val_mae: 0.6083
Epoch 38/50
20/20 [==============================] - 1s 42ms/step - loss: 0.4091 - mae: 0.4091 - val_loss: 0.6124 - val_mae: 0.6124
Epoch 39/50
20/20 [==============================] - 1s 45ms/step - loss: 0.4081 - mae: 0.4081 - val_loss: 0.6097 - val_mae: 0.6097
Epoch 40/50
20/20 [==============================] - 1s 46ms/step - loss: 0.4052 - mae: 0.4052 - val_loss: 0.6080 - val_mae: 0.6080
Epoch 41/50
20/20 [==============================] - 1s 38ms/step - loss: 0.4037 - mae: 0.4037 - val_loss: 0.6095 - val_mae: 0.6095
Epoch 42/50
20/20 [==============================] - 1s 51ms/step - loss: 0.4016 - mae: 0.4016 - val_loss: 0.6060 - val_mae: 0.6060
Epoch 43/50
20/20 [==============================] - 1s 46ms/step - loss: 0.4009 - mae: 0.4009 - val_loss: 0.6131 - val_mae: 0.6131

In [52]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 5ms/step - loss: 0.6029 - mae: 0.6029

In [53]:
#spremanje modela
model.save("L1_float_model.h5")

In [54]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.