## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [2]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("ligue-1-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("ligue-1-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("ligue-1-2025.csv")

In [3]:
## Ukidanje Duplih Vrijednosti za Nazive Klubova
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Stade DE Reims", 'Stade de Reims')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Stade DE Reims", 'Stade de Reims')

#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Havre AC", 'Havre Athletic Club')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Havre AC", 'Havre Athletic Club')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [4]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(108)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
103,102,12,09/11/2025 14:00,Stade du Moustoir,FC Lorient,Toulouse FC,1 - 1
104,100,12,09/11/2025 16:15,Stade Raymond Kopa,Angers SCO,AJ Auxerre,2 - 0
105,105,12,09/11/2025 16:15,Stade Saint-Symphorien,FC Metz,OGC Nice,2 - 1
106,108,12,09/11/2025 16:15,Stade de la Meinau,RC Strasbourg Alsace,LOSC Lille,2 - 0
107,103,12,09/11/2025 19:45,Parc Olympique Lyonnais,Olympique Lyonnais,Paris Saint-Germain,2 - 3

In [5]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [6]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
103,102,12,09/11/2025 14:00,Stade du Moustoir,FC Lorient,Toulouse FC,1 - 1
104,100,12,09/11/2025 16:15,Stade Raymond Kopa,Angers SCO,AJ Auxerre,2 - 0
105,105,12,09/11/2025 16:15,Stade Saint-Symphorien,FC Metz,OGC Nice,2 - 1
106,108,12,09/11/2025 16:15,Stade de la Meinau,RC Strasbourg Alsace,LOSC Lille,2 - 0
107,103,12,09/11/2025 19:45,Parc Olympique Lyonnais,Olympique Lyonnais,Paris Saint-Germain,2 - 3

## Predprocesovanje Niza Podataka

In [7]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(720, 3)

In [8]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [9]:
df_BL.to_csv("L1.csv")
df_BL

                          H                    A Result
0                  OGC Nice           LOSC Lille  1 - 1
1    Olympique de Marseille       Stade de Reims  2 - 1
2       Paris Saint-Germain           FC Lorient  0 - 0
3         Stade Brestois 29              RC Lens  3 - 2
4          Clermont Foot 63            AS Monaco  2 - 4
..                      ...                  ...    ...
103              FC Lorient          Toulouse FC  1 - 1
104              Angers SCO           AJ Auxerre  2 - 0
105                 FC Metz             OGC Nice  2 - 1
106    RC Strasbourg Alsace           LOSC Lille  2 - 0
107      Olympique Lyonnais  Paris Saint-Germain  2 - 3

[720 rows x 3 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [11]:
df_domacin.columns

Index(['H_AS Monaco', 'H_AS Saint-Étienne', 'H_Angers SCO',
       'H_Clermont Foot 63', 'H_FC Lorient', 'H_FC Metz', 'H_FC Nantes',
       'H_Havre Athletic Club', 'H_LOSC Lille', 'H_Montpellier Hérault SC',
       'H_OGC Nice', 'H_Olympique Lyonnais', 'H_Olympique de Marseille',
       'H_Paris FC', 'H_Paris Saint-Germain', 'H_RC Lens',
       'H_RC Strasbourg Alsace', 'H_Stade Brestois 29', 'H_Stade Rennais FC',
       'H_Stade de Reims', 'H_Toulouse FC'],
      dtype='object')

In [12]:
df_domacin.shape

(720, 21)

In [13]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [14]:
df_gost.shape

(720, 21)

In [15]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
716,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
717,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [16]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [17]:
rez_dom.head()

0    1
1    2
2    0
3    3
4    2
Name: Result, dtype: object

In [18]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [19]:
rez_gost.head()

0    1
1    1
2    0
3    2
4    4
Name: Result, dtype: object

In [20]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [21]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                          H                    A Result Rez1 Rez2
0                  OGC Nice           LOSC Lille  1 - 1    1    1
1    Olympique de Marseille       Stade de Reims  2 - 1    2    1
2       Paris Saint-Germain           FC Lorient  0 - 0    0    0
3         Stade Brestois 29              RC Lens  3 - 2    3    2
4          Clermont Foot 63            AS Monaco  2 - 4    2    4
..                      ...                  ...    ...  ...  ...
103              FC Lorient          Toulouse FC  1 - 1    1    1
104              Angers SCO           AJ Auxerre  2 - 0    2    0
105                 FC Metz             OGC Nice  2 - 1    2    1
106    RC Strasbourg Alsace           LOSC Lille  2 - 0    2    0
107      Olympique Lyonnais  Paris Saint-Germain  2 - 3    2    3

[720 rows x 5 columns]

In [22]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [23]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[610:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [24]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [25]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [26]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [27]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_12032\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [28]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_12032\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [29]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [30]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [31]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [32]:
finalna_provjera.tail()

                        H                    A Rezultat  Skor
715            FC Lorient          Toulouse FC    1 - 1   0.0
716            Angers SCO           AJ Auxerre    2 - 0   1.0
717               FC Metz             OGC Nice    2 - 1   1.0
718  RC Strasbourg Alsace           LOSC Lille    2 - 0   1.0
719    Olympique Lyonnais  Paris Saint-Germain    2 - 3  -1.0

# Konačni df - Podaci su Sređeni

In [33]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [34]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [35]:
df_BL.head(5)

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [36]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [37]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [38]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
81,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563],
       [-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563],
       [-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563],
       ...,
       [-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563],
       [-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563],
       [-0.22792115, -0.15911146, -0.17845765, ..., -0.24253563,
        -0.22032632, -0.24253563]])

In [40]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [41]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [42]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [43]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [44]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [45]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
21/21 [==============================] - 3s 51ms/step - loss: 0.7187 - mae: 0.7187 - val_loss: 0.6955 - val_mae: 0.6955
Epoch 2/50
21/21 [==============================] - 0s 20ms/step - loss: 0.6904 - mae: 0.6904 - val_loss: 0.6910 - val_mae: 0.6910
Epoch 3/50
21/21 [==============================] - 0s 16ms/step - loss: 0.6673 - mae: 0.6673 - val_loss: 0.6810 - val_mae: 0.6810
Epoch 4/50
21/21 [==============================] - 0s 19ms/step - loss: 0.6479 - mae: 0.6479 - val_loss: 0.6717 - val_mae: 0.6717
Epoch 5/50
21/21 [==============================] - 2s 78ms/step - loss: 0.6249 - mae: 0.6249 - val_loss: 0.6614 - val_mae: 0.6614
Epoch 6/50
21/21 [==============================] - 3s 150ms/step - loss: 0.6046 - mae: 0.6046 - val_loss: 0.6556 - val_mae: 0.6556
Epoch 7/50
21/21 [==============================] - 1s 27ms/step - loss: 0.5844 - mae: 0.5844 - val_loss: 0.6527 - val_mae: 0.6527
Epoch 8/50
21/21 [==============================] - 1s 25ms/step - loss: 0.5677 - mae: 0.5677 - val_loss: 0.6484 - val_mae: 0.6484
Epoch 9/50
21/21 [==============================] - 1s 26ms/step - loss: 0.5543 - mae: 0.5543 - val_loss: 0.6505 - val_mae: 0.6505
Epoch 10/50
21/21 [==============================] - 0s 16ms/step - loss: 0.5450 - mae: 0.5450 - val_loss: 0.6465 - val_mae: 0.6465
Epoch 11/50
21/21 [==============================] - 0s 15ms/step - loss: 0.5343 - mae: 0.5343 - val_loss: 0.6379 - val_mae: 0.6379
Epoch 12/50
21/21 [==============================] - 1s 33ms/step - loss: 0.5261 - mae: 0.5261 - val_loss: 0.6369 - val_mae: 0.6369
Epoch 13/50
21/21 [==============================] - 1s 31ms/step - loss: 0.5183 - mae: 0.5183 - val_loss: 0.6323 - val_mae: 0.6323
Epoch 14/50
21/21 [==============================] - 0s 18ms/step - loss: 0.5097 - mae: 0.5097 - val_loss: 0.6367 - val_mae: 0.6367
Epoch 15/50
21/21 [==============================] - 1s 27ms/step - loss: 0.5038 - mae: 0.5038 - val_loss: 0.6384 - val_mae: 0.6384
Epoch 16/50
21/21 [==============================] - 0s 19ms/step - loss: 0.4986 - mae: 0.4986 - val_loss: 0.6315 - val_mae: 0.6315
Epoch 17/50
21/21 [==============================] - 0s 19ms/step - loss: 0.4918 - mae: 0.4918 - val_loss: 0.6272 - val_mae: 0.6272
Epoch 18/50
21/21 [==============================] - 1s 26ms/step - loss: 0.4855 - mae: 0.4855 - val_loss: 0.6280 - val_mae: 0.6280
Epoch 19/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4807 - mae: 0.4807 - val_loss: 0.6253 - val_mae: 0.6253
Epoch 20/50
21/21 [==============================] - 0s 18ms/step - loss: 0.4757 - mae: 0.4757 - val_loss: 0.6282 - val_mae: 0.6282
Epoch 21/50
21/21 [==============================] - 0s 24ms/step - loss: 0.4711 - mae: 0.4711 - val_loss: 0.6259 - val_mae: 0.6259
Epoch 22/50
21/21 [==============================] - 1s 25ms/step - loss: 0.4674 - mae: 0.4674 - val_loss: 0.6259 - val_mae: 0.6259
Epoch 23/50
21/21 [==============================] - 0s 24ms/step - loss: 0.4640 - mae: 0.4640 - val_loss: 0.6239 - val_mae: 0.6239
Epoch 24/50
21/21 [==============================] - 0s 22ms/step - loss: 0.4608 - mae: 0.4608 - val_loss: 0.6255 - val_mae: 0.6255
Epoch 25/50
21/21 [==============================] - 0s 21ms/step - loss: 0.4586 - mae: 0.4586 - val_loss: 0.6299 - val_mae: 0.6299
Epoch 26/50
21/21 [==============================] - 0s 22ms/step - loss: 0.4539 - mae: 0.4539 - val_loss: 0.6272 - val_mae: 0.6272
Epoch 27/50
21/21 [==============================] - 1s 25ms/step - loss: 0.4515 - mae: 0.4515 - val_loss: 0.6288 - val_mae: 0.6288
Epoch 28/50
21/21 [==============================] - 0s 21ms/step - loss: 0.4477 - mae: 0.4477 - val_loss: 0.6290 - val_mae: 0.6290
Epoch 29/50
21/21 [==============================] - 0s 23ms/step - loss: 0.4445 - mae: 0.4445 - val_loss: 0.6308 - val_mae: 0.6308
Epoch 30/50
21/21 [==============================] - 0s 22ms/step - loss: 0.4402 - mae: 0.4402 - val_loss: 0.6349 - val_mae: 0.6349
Epoch 31/50
21/21 [==============================] - 0s 21ms/step - loss: 0.4378 - mae: 0.4378 - val_loss: 0.6397 - val_mae: 0.6397
Epoch 32/50
21/21 [==============================] - 0s 22ms/step - loss: 0.4351 - mae: 0.4351 - val_loss: 0.6379 - val_mae: 0.6379
Epoch 33/50
21/21 [==============================] - 0s 22ms/step - loss: 0.4324 - mae: 0.4324 - val_loss: 0.6348 - val_mae: 0.6348

In [46]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 6ms/step - loss: 0.6239 - mae: 0.6239

In [47]:
#spremanje modela
model.save("L1_float_model.h5")

In [48]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.