## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [2]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("ligue-1-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("ligue-1-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("ligue-1-2025.csv")

In [3]:
## Ukidanje Duplih Vrijednosti za Nazive Klubova
#za sezonu 24 5
df_24_5["Home Team"] = df_24_5["Home Team"].replace("Stade DE Reims", 'Stade de Reims')
df_24_5["Away Team"] = df_24_5["Away Team"].replace("Stade DE Reims", 'Stade de Reims')

#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Havre AC", 'Havre Athletic Club')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Havre AC", 'Havre Athletic Club')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [4]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(126)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
121,126,14,30/11/2025 14:00,Stade de la Meinau,RC Strasbourg Alsace,Stade Brestois 29,1 - 2
122,118,14,30/11/2025 16:15,Stade Raymond Kopa,Angers SCO,RC Lens,1 - 2
123,119,14,30/11/2025 16:15,Stade Océane,Havre Athletic Club,LOSC Lille,0 - 1
124,120,14,30/11/2025 16:15,Stade du Moustoir,FC Lorient,OGC Nice,3 - 1
125,121,14,30/11/2025 19:45,Parc Olympique Lyonnais,Olympique Lyonnais,FC Nantes,3 - 0

In [5]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [6]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
121,126,14,30/11/2025 14:00,Stade de la Meinau,RC Strasbourg Alsace,Stade Brestois 29,1 - 2
122,118,14,30/11/2025 16:15,Stade Raymond Kopa,Angers SCO,RC Lens,1 - 2
123,119,14,30/11/2025 16:15,Stade Océane,Havre Athletic Club,LOSC Lille,0 - 1
124,120,14,30/11/2025 16:15,Stade du Moustoir,FC Lorient,OGC Nice,3 - 1
125,121,14,30/11/2025 19:45,Parc Olympique Lyonnais,Olympique Lyonnais,FC Nantes,3 - 0

## Predprocesovanje Niza Podataka

In [7]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(738, 3)

In [8]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [9]:
df_BL.to_csv("L1.csv")
df_BL

                          H                  A Result
0                  OGC Nice         LOSC Lille  1 - 1
1    Olympique de Marseille     Stade de Reims  2 - 1
2       Paris Saint-Germain         FC Lorient  0 - 0
3         Stade Brestois 29            RC Lens  3 - 2
4          Clermont Foot 63          AS Monaco  2 - 4
..                      ...                ...    ...
121    RC Strasbourg Alsace  Stade Brestois 29  1 - 2
122              Angers SCO            RC Lens  1 - 2
123     Havre Athletic Club         LOSC Lille  0 - 1
124              FC Lorient           OGC Nice  3 - 1
125      Olympique Lyonnais          FC Nantes  3 - 0

[738 rows x 3 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [11]:
df_domacin.columns

Index(['H_AS Monaco', 'H_AS Saint-Étienne', 'H_Angers SCO',
       'H_Clermont Foot 63', 'H_FC Lorient', 'H_FC Metz', 'H_FC Nantes',
       'H_Havre Athletic Club', 'H_LOSC Lille', 'H_Montpellier Hérault SC',
       'H_OGC Nice', 'H_Olympique Lyonnais', 'H_Olympique de Marseille',
       'H_Paris FC', 'H_Paris Saint-Germain', 'H_RC Lens',
       'H_RC Strasbourg Alsace', 'H_Stade Brestois 29', 'H_Stade Rennais FC',
       'H_Stade de Reims', 'H_Toulouse FC'],
      dtype='object')

In [12]:
df_domacin.shape

(738, 21)

In [13]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [14]:
df_gost.shape

(738, 21)

In [15]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
734,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
736,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [16]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [17]:
rez_dom.head()

0    1
1    2
2    0
3    3
4    2
Name: Result, dtype: object

In [18]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [19]:
rez_gost.head()

0    1
1    1
2    0
3    2
4    4
Name: Result, dtype: object

In [20]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [21]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                          H                  A Result Rez1 Rez2
0                  OGC Nice         LOSC Lille  1 - 1    1    1
1    Olympique de Marseille     Stade de Reims  2 - 1    2    1
2       Paris Saint-Germain         FC Lorient  0 - 0    0    0
3         Stade Brestois 29            RC Lens  3 - 2    3    2
4          Clermont Foot 63          AS Monaco  2 - 4    2    4
..                      ...                ...    ...  ...  ...
121    RC Strasbourg Alsace  Stade Brestois 29  1 - 2    1    2
122              Angers SCO            RC Lens  1 - 2    1    2
123     Havre Athletic Club         LOSC Lille  0 - 1    0    1
124              FC Lorient           OGC Nice  3 - 1    3    1
125      Olympique Lyonnais          FC Nantes  3 - 0    3    0

[738 rows x 5 columns]

In [22]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [23]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[610:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [24]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [25]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [26]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [27]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_7360\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [28]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_7360\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [29]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [30]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [31]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [32]:
finalna_provjera.tail()

                        H                  A Rezultat  Skor
733  RC Strasbourg Alsace  Stade Brestois 29    1 - 2  -1.0
734            Angers SCO            RC Lens    1 - 2  -1.0
735   Havre Athletic Club         LOSC Lille    0 - 1  -1.0
736            FC Lorient           OGC Nice    3 - 1   1.0
737    Olympique Lyonnais          FC Nantes    3 - 0   1.0

# Konačni df - Podaci su Sređeni

In [33]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [34]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [35]:
df_BL.head(5)

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.71
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [36]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [37]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [38]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_AS Monaco,H_AS Saint-Étienne,H_Angers SCO,H_Clermont Foot 63,H_FC Lorient,H_FC Metz,H_FC Nantes,H_Havre Athletic Club,H_LOSC Lille,H_Montpellier Hérault SC,...,A_Olympique Lyonnais,A_Olympique de Marseille,A_Paris FC,A_Paris Saint-Germain,A_RC Lens,A_RC Strasbourg Alsace,A_Stade Brestois 29,A_Stade Rennais FC,A_Stade de Reims,A_Toulouse FC
239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955],
       [-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955],
       [-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955],
       ...,
       [-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955],
       [-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955],
       [-0.24637954, -0.1413127 , -0.17622684, ..., -0.24292214,
        -0.22129877, -0.23588955]])

In [40]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [41]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [42]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [43]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [44]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [ ]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
21/21 [==============================] - 3s 71ms/step - loss: 0.6810 - mae: 0.6810 - val_loss: 0.7536 - val_mae: 0.7536
Epoch 2/50
21/21 [==============================] - 1s 25ms/step - loss: 0.6448 - mae: 0.6448 - val_loss: 0.7329 - val_mae: 0.7329
Epoch 3/50
21/21 [==============================] - 1s 25ms/step - loss: 0.6189 - mae: 0.6189 - val_loss: 0.7159 - val_mae: 0.7159
Epoch 4/50
21/21 [==============================] - 1s 28ms/step - loss: 0.5966 - mae: 0.5966 - val_loss: 0.6992 - val_mae: 0.6992
Epoch 5/50
21/21 [==============================] - 1s 26ms/step - loss: 0.5750 - mae: 0.5750 - val_loss: 0.6874 - val_mae: 0.6874
Epoch 6/50
21/21 [==============================] - 0s 25ms/step - loss: 0.5603 - mae: 0.5603 - val_loss: 0.6742 - val_mae: 0.6742
Epoch 7/50
21/21 [==============================] - 1s 25ms/step - loss: 0.5484 - mae: 0.5484 - val_loss: 0.6644 - val_mae: 0.6644
Epoch 8/50
21/21 [==============================] - 0s 20ms/step - loss: 0.5376 - mae: 0.5376 - val_loss: 0.6635 - val_mae: 0.6635
Epoch 9/50
21/21 [==============================] - 0s 23ms/step - loss: 0.5278 - mae: 0.5278 - val_loss: 0.6629 - val_mae: 0.6629
Epoch 10/50
21/21 [==============================] - 1s 29ms/step - loss: 0.5191 - mae: 0.5191 - val_loss: 0.6643 - val_mae: 0.6643
Epoch 11/50
21/21 [==============================] - 1s 27ms/step - loss: 0.5117 - mae: 0.5117 - val_loss: 0.6653 - val_mae: 0.6653
Epoch 12/50
21/21 [==============================] - 0s 20ms/step - loss: 0.5050 - mae: 0.5050 - val_loss: 0.6626 - val_mae: 0.6626
Epoch 13/50
21/21 [==============================] - 1s 27ms/step - loss: 0.5003 - mae: 0.5003 - val_loss: 0.6588 - val_mae: 0.6588
Epoch 14/50
21/21 [==============================] - 0s 23ms/step - loss: 0.4957 - mae: 0.4957 - val_loss: 0.6577 - val_mae: 0.6577
Epoch 15/50
21/21 [==============================] - 0s 24ms/step - loss: 0.4906 - mae: 0.4906 - val_loss: 0.6592 - val_mae: 0.6592
Epoch 16/50
21/21 [==============================] - 1s 30ms/step - loss: 0.4861 - mae: 0.4861 - val_loss: 0.6548 - val_mae: 0.6548
Epoch 17/50
21/21 [==============================] - 0s 24ms/step - loss: 0.4819 - mae: 0.4819 - val_loss: 0.6503 - val_mae: 0.6503
Epoch 18/50
11/21 [==============>...............] - ETA: 0s - loss: 0.5096 - mae: 0.5096

In [ ]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

In [ ]:
#spremanje modela
model.save("L1_float_model.h5")

In [ ]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.